.rhap_progress-section,
.rhap_volume-container,
.rhap_additional-controls {
  display: none;
}

.rhap_main {
  z-index: 100000;
}

.rhap_container {
  align-items: center;
  background-color: rgba(255, 255, 255, 0);
  box-shadow: none;
  display: flex;
  justify-content: center;
  height: 50px;
  width: 50px;
  position: absolute;
  left: 50px;
  top: 5px;
  position: fixed;
  z-index: 100000;
}

svg {
  width: 1em;
  height: 1em;
  animation: music 1.5s ease-in-out 0s infinite normal both;
}

path {
  fill: #FFFF;
}

@media screen and (max-width: 980px) {
  .rhap_container {
    left: unset;
    top: unset;
  }
}

@keyframes music {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}
